#mainGridPane {
    -fx-hgap: 5.0;
    -fx-vgap: 5.0;
    -fx-pref-height: 250.0;
    -fx-pref-width: 450.0;
    -fx-padding: 3.0, 5.0, 5.0, 5.0;

}

.add-measure-button {
    -fx-max-width: Infinity;
}